/*

----------@ 1|_4 @----------
*/
body {
	background-image: url(images/background.svg);
}
/*----------*/
div.container {
	height	: 1138px; 	
}
div.container div.logo {
	background-image: url(images/logo1.png);
	width: 100px;
}

/*-------menu--------*/ 
div.container header {
	font-family: "NewCicleFina";	
}

div.container header nav menu li a {
	text-decoration: none;
	font-size: 24px;
	color: white;
	opacity: 0.6;	
}
div.container header nav
 menu li a:hover {
	-webkit-transition: opacity 0.2s linear;
	opacity: 1;
}
div.container header div.serch {
	outline: 1px solid white;
	color: white;
	opacity: 0.6;
}
/*-------------------*/
div.container div.content {
	height	: 890px;

}

div.container div.boxs {

	height	: 890px;
	width	: 410px;
	margin-left	: 20px;
	
}
/*---------------------content-----*/

div.container div.content>section {
	background: url(images/bacc.png) 0 0 repeat;
}
div.container div.content section.box4>div {
	background: url(images/bg.png) 0 0 repeat;

}

div.container div.content section.box1 
div.box1 {
	background-image: url(gallery/slide04.jpg);
	height	: 272px;
}
div.container div.content section.box1 
div.box2 {
	margin-top: 5px;
	height: 29px;
}

div.container div.content section.box2 
div.box1 {
	background-image: url(gallery/slide01.jpg);
	height	: 272px;
}
div.container div.content section.box2 
div.box2 {
	margin-top: 5px;
	height: 29px;
}
div.container div.content section.box3 {
	margin-top: 10px;
	height: 30px;
}
div.container div.content section.box4 
div.box1  {	
	width	: 156px;
	height	: 165px;
	margin-top: 20px;

}


div.container div.content section.box4 
div.box1 ul li a {
	color: white;
	opacity: 0.6;
	text-decoration: none;
	font-family: "NewCicleFina";	
	font-size: 23px;
	padding:6px 70px;
	display:block;
	padding-left: 20px;
}

div.container div.content section.box4 
div.box1 ul li a:hover {
	-webkit-transition: opacity 0.2s linear ;
	opacity: 1;
	border: 1px solid white;
}
div.container div.content section.box4 
div.box2 {

	background: url(images/bacc.png) 0 0 repeat;
	width	: 314px;
	height	: 165px;
	margin-top	: 20px;

}
/*--------------------*/
div.container div.boxs > section {
	width	: 198px;
	margin-left	: 6px;
}

div.container div.boxs section.box1 {
	width	: 198px;
	margin-left	: 6px;
	background-color	: #4690ad;
	background-image	: url(images/icon_gallery.png);
	background-repeat	: no-repeat;
	background-position	: center center;
}

div.container div.boxs section.box2 {
	width	: 198px;
	margin-left	: 6px;
	background-color	: #bb5877;
	background-image	: url(images/icon_contact.png);
	background-repeat	: no-repeat;
	background-position	: center center;

}

div.container div.boxs section.box3 {
	width	: 402px;
	margin-left	: 6px;
	background-color	: #4690ad;
	background-image	: url(images/logo.png) ;
	background-repeat	: no-repeat;
	background-position	: right top;

}

div.container div.boxs section.box4 {
	background-color	: #4891af;
	background-image	: url(images/download.png);
	background-repeat	: no-repeat;
	background-position	: center top;

}


div.container div.boxs section.box5 {
	background-image	: url(images/autumn.jpg);
	background-repeat	: no-repeat;
	background-position	: center top;

}

div.container div.boxs section.box6 {
	background-image	: url(images/aboutus.jpg);
	background-repeat	: no-repeat;
	background-position	: center top;
	font-size	: 20px;
	color       : white;
	text-align	: center;
}

div.container div.boxs section.box7 {
	background-color	: #4891af;
	background-image	: url(images/icon_weather.png);
	background-repeat	: no-repeat;
	background-position	: center center;

}
