body {
	background-image: url(images/background.svg);
	background-size: cover;
}
div.container{
	background-image	: url(images/home.jpg);
	background-repeat	: no-repeat;
	min-height 	: 1148px;
}

/*---------------------*/
div.container header {
	outline: 1px dashed red ;
}
div.container header div.logo {
	outline: 1px dashed red ;
}
div.container header nav {
	outline: 1px dashed red ;
}
div.container header div.search {
	outline: 1px dashed red ;
	width		: 158px;
	margin-right: 2px;
	margin-top	: 47px;
}
/*---------------------*/

div.container div.content1{
	outline	: 1px dashed red ;
	width	: 472px;
	min-height	: 865px;
	margin-left	: 37px;
}
div.container div.content1 div>section {
	outline	: 1px dashed red;
}

div.container div.content1 div.box1{
	outline	: 1px dashed red ;	
	width	: 472px;
}
div.container div.content1 div.box1 section.image {
	width	: 174px;
	min-height 	: 174px;
	margin-left	: 17px;
	margin-top	:6px;
}
div.container div.content1 div.box1 section.text {
	width	: 264px;
	min-height  : 174px;
	margin-left	: 10px;
	margin-top	: 6px;
}



div.container div.content1 div.box2{
	outline	: 1px dashed red ;
	width	: 472px;	
	margin-top : 20px;
}

div.container div.content1 div.box2 section.image {
	width	: 174px;
	min-height  : 174px;
	margin-left	: 17px;
	margin-top	: 6px;
}
div.container div.content1 div.box2 section.text {
	width	: 264px;
	min-height : 174px;
	margin-left	: 10px;
	margin-top	:6px;
}

div.container div.content1 div.box3{
	outline	: 1px dashed red ;
	width	: 472px;
	margin-top	: 8px;	
}
div.container div.content1 div.box4{
	outline	: 1px dashed red ;	
	width	: 472px;
	min-height  : 167px;
	margin-top	: 20px;
}
div.container div.content1 div.box4 menu {
	outline	: 1px dashed red;
	width	: 160px; 
	min-height : 167px;
}
div.container div.content1 div.box4 section {
	width	: 312px;
	min-height : 167px;
}


/*---------------------*/
div.container div>div{
	background-color	: black;
	opacity	: .4;
}
div.container div.content2 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 785px;
	margin-left	: 26px;
}
div.container div.content2 div.box1 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
}
div.container div.content2 div.box2 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 401px;
	margin-top	: 10px;
}
div.container div.content2 div.box3 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	:196px;
	margin-top	: 10px;			
}
/*---------------------*/
div.container div.content3 {
	outline	: 1px dashed red ;	
	width	: 196px;
	min-height	: 785px;
	margin-left	: 10px;
}
div.container div.content3 div.box1 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
}
div.container div.content3 div.box2 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
	margin-top	: 10px;
}
div.container div.content3 div.box3 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
	margin-top	: 10px;			
}
div.container div.content3 div.box4 {
	outline: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
	margin-top	: 10px;			
}
/*----------------------------*/
div.container footer {
	outline	: 1px dashed red;
}