body {
	background-image: url(images/background.svg);
	background-size: cover;
}
div.container{
	min-height 	: 1189px;
}
@font-face {
	font-family: myFirstFont; 
	src:url('font/new_cicle_fina_italic-webfont.ttf');
}
/*---------------------*/

div.container header {
	font-family: myFirstFont; 
	src:url('font/new_cicle_fina_italic-webfont.ttf')
	font-family: "NewCicleFina";	
}
div.container header div.logo {
	background-image: url(images/logo.png);
	width: 100px;
	height: 72px;
	margin-left: 70px;
}
div.container header nav menu li a {
	text-decoration: none;
	font-size: 24px;
	color: white;
	opacity: 0.6;

}
div.container header nav
 menu li a:hover {
	-webkit-transition: opacity 0.2s linear;
	opacity: 1; 
}
div.container header nav menu li menu {
	background-color: rgba(0,0,0,0.8);
	z-index: 1000;
	padding:15px 10px;
	display: none; 
}
div.container header nav menu li menu li a {
	padding-right: 10px;
	padding-top: 5px;
}
div.container header nav
 menu li:hover menu{
 	display: block;
}
div.container header div input.search {
	outline: 1px solid white;
	color: black;
	opacity: 0.6;
}

/*---------------------*/

div.container div.content1{
	width	: 675px;
	min-height	: 813px;
	margin-left	: 37px;
}


div.container div.content1 div.box1{
	outline	: 1px dashed red ;	
	width	: 675px;
	min-height: 813px;
}
div.container div.content1 div.box1 section.head {
	color: white ;
	opacity: .8;
	font-size: 25px;
	font-family: myFirstFont; 
	src:url('font/new_cicle_fina_italic-webfont.ttf');
}
div.container div.content1 div.box1 section.head div {
	margin:30px 0px 0px 20px;
}
div.container div.content1 div.box1 section.image {
	width	: 174px;
	min-height 	: 174px;
	margin-left	: 17px;
	margin-top	:6px;
	background-image: url(images/Wallsseparating.jpg);
	background-size: cover;
}
div.container div.content1 div.box1 section.text {
	width	: 370px;
	min-height  : 174px;
	margin-left	: 10px;
	margin-top	: 6px;
	font-family: myFirstFont; 
	src:url('font/new_cicle_fina_italic-webfont.ttf')
	font-family: "NewCicleFina";
	color: white;
	opacity: .9;
}

/*---------------------*/
div.container div>div {
	background-color	:rgba(0,0,0,0.6)
}
div.container div.content2 {
	width	: 196px;
	min-height	: 813px;
	margin-left	: 26px;
}
div.container div.content2 div.box1 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 196px;
	background-image	: url(images/icon_gallery.png);
	background-repeat	: no-repeat;
	background-position	: center center;

}

div.container div.content2 div.box2 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	: 401px;
	margin-top	: 10px;
}
div.container div.content2 div.box2 div.image {
	width: 196px;
	height: 150px;
	background-image	: url(images/logop.png) ;
	background-repeat	: no-repeat;
	background-position	: center top;

}
div.container div.content2 div.box2 div.text {
	width: 196px;
	min-height: 100px;
	font-family: myFirstFont; 
	src:url('font/new_cicle_fina_italic-webfont.ttf');	
	color: white;
	opacity: .9;
}

div.container div.content2 div.box3 {
	outline	: 1px dashed red ;
	width	: 196px;
	min-height	:196px;
	margin-top	: 10px;			
	background-image	: url(images/download.png);
	background-repeat	: no-repeat;
	background-position	: center center;
}


/*----------------------------*/
div.container footer {
	outline	: 1px dashed red;
}
